@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #2AA7FF;
  --secondary: #1B3C74;
  --app-nav-height: 62px;
  --btn-padding-x: 8px;
  --btn-padding-y: 8px;
  --hospital-card-height: 269px;
  @screen md {
    --app-nav-height: 96px;
    --btn-padding-x: 20px;
    --btn-padding-y: 13px;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Poppins';
  font-weight: 400;
}

@layer base {

}

@layer components {

  #landingSection {
    padding-top: calc(var(--app-nav-height) + 15px);
    padding-bottom: 10vh;
    --main-heading-txt-size: 16px;
    --main-heading-txt-size-b: 36px;
    --main-heading-txt-leading: 42px;
    @screen md {
      padding-bottom: 30vh;
      --main-heading-txt-size: 31px;
      --main-heading-txt-size-b: 56px;
      --main-heading-txt-leading: 68px;
    }

    .main-heading {
      font-size: var(--main-heading-txt-size);
      line-height: var(--main-heading-txt-leading);
      font-weight: 500;
      letter-spacing: 0.02em;
      .bigText {
        font-size: var(--main-heading-txt-size-b);
        font-weight: 700;
      }
    }

    #findCentre {

      nav {
        box-shadow: 6px 6px 35px 0px rgba(16, 40, 81, 0.11);
      }
    }
  }

  #faqSection {
    #imageFrame {
      & > img {
        box-shadow: 0px 15px 55px -10px rgba(0, 0, 0, 0.09);
      }
      #totalCount {
        box-shadow: 0px 15px 35px -5px rgba(0, 0, 0, 0.07);
        left: -10%;
        bottom: 15%;
      }
      #grateful {
        box-shadow: 0px 15px 25px 0px rgba(0, 0, 0, 0.06);
        top: 20%;
        right: -10%;
      }

    }
  }

  #specialisations {
    .specialisationCard {
      box-shadow: 0px 34px 44px 0px rgba(213, 219, 228, 0.44);
    }
  }

  #medicalSpecialists {
    .doctor-frame {
      background: linear-gradient(144.2deg, #E1F3FF 0%, #2AA7FF 100%);
      border-radius: 250px 250px 4px 4px;
    }
  }

  #ourFamilies {
    .familyPointCard {
      box-shadow: 0px 15px 45px -5px rgba(0, 0, 0, 0.07);
      border-radius: 8px;
    }
  }

  #hospitalNavSection {
    padding-top: calc(var(--app-nav-height) * 2);
    background: linear-gradient(91.75deg, #2AA7FF 1.4%, #0C8CE6 100.57%);
  }

  .section-heading {
    font-size: 24px;
    line-height: 1.4;
    font-weight: 600;
    color: var(--secondary);
    @screen md {
      font-size: 48px;
      line-height: 67px;
    }
  }
  
  .section-subtitle {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.68;
    color: var(--primary);
    @screen md {
      font-size: 16px;
    }
  }

  .btn {
    background: var(--primary);
    line-height: 1.5;
    color: white;
    font-size: 12px;
    padding: var(--btn-padding-y) var(--btn-padding-x);
    @screen md {
      font-size: 16px;
    }
    letter-spacing: 0.02em;
    border-radius: 8px;
    white-space: nowrap;
    cursor: pointer;
  }

  [class^="pagination-"] {
    position: static !important;
    margin-top: 1rem;
  }
  
  [class^="pagination-"] .swiper-pagination-bullet {
    @apply w-2 h-2 mx-1 bg-gray-300 rounded-full cursor-pointer;
  }
  
  [class^="pagination-"] .swiper-pagination-bullet-active {
    @apply ring-1 ring-offset-4 ring-primary bg-primary;
  }

}

@layer utilities {

  .section-x-padding {
    @apply px-3 md:px-[135px];
  }

  .gradient-bg {
    background: linear-gradient(81deg, #E7F0FF 9.01%, rgba(232, 241, 255, 0.47) 89.11%);
  }

  .location-form-shadow {
    box-shadow: 6px 6px 35px 0px rgba(16, 40, 81, 0.11);
  }

  .search-form-container {
    @apply bg-white rounded-[15px] p-6 w-full location-form-shadow;
  }

}

.blue-scrollbar::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.blue-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.blue-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--primary);
}

.blue-scrollbar {
  scrollbar-gutter: stable;
  scrollbar-width: thin;
  scrollbar-color: var(--primary) transparent;
}