@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #2AA7FF;
  --secondary: #1B3C74;
  --app-nav-height: 62px;

  @screen md {
    --app-nav-height: 96px;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Poppins';
  font-weight: 400;
}

@layer base {
  .gradient-bg {
    background: linear-gradient(81deg, #E7F0FF 9.01%, rgba(232, 241, 255, 0.47) 89.11%);
  }

  .section-heading {
    font-size: 48px;
    line-height: 67px;
    font-weight: 600;
    color: var(--secondary);
  }

  .section-x-padding {
    @apply px-3 md:px-[135px];
  }

  .btn {
    background: var(--primary);
    color: white;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    padding: 13px 20px;
    border-radius: 8px;
    white-space: nowrap;
  }
}

